@import "shadow";

.awesome-box {
    display: block !important;
    padding: 28px;
}

.awesome-box, .awesome-table {
    width:            100%;
    background-color: #fff;
    border-radius:    10px;
    margin-bottom:    30px;
    overflow:         hidden;
    @include shadow(4);

    h1 {
        font-size:   28px;
        font-weight: 600;
    }

    p {
        font-size:   14px;
        font-weight: 600;
        color:       #888;
    }
}
