@import "vars";
@import "shadow";

.button, .button-link {
    text-decoration: none;
    margin:          6px;
    outline:         none !important;
    color:           $primary;
    transition:      background-color 300ms, opacity 300ms, color 300ms;
    opacity:         1;

    &:not(.material-icons):not(.button--icon) {
        font-family: 'Nunito', Roboto, Arial, sans-serif;
    }
}

.button {
    position:         relative;
    display:          inline-block;
    height:           30px;
    line-height:      31px;
    padding-left:     15px;
    padding-right:    15px;
    border-radius:    15px;
    border:           none;
    font-size:        14px;
    color:            $primary;
    background-color: transparent;
    cursor:           pointer;

    @include shadow(2);

    &:hover {
        background-color: transparentize(#222, .95);
        opacity:          .85;
    }

    &:not(.material-icons):not(.button--icon) {
        text-transform: uppercase;
        font-weight:    600;
    }

    &.material-icons, &.button--icon {
        padding-left:  0;
        padding-right: 0;
        height:        30px;
        line-height:   30px;
        width:         30px;
    }

    &.button--icon {
        display:         inline-flex;
        align-content:   center;
        align-items:     center;
        justify-content: center;
    }
}

.button-link {
    &:hover {
        opacity: .75;
    }
}
