@import "vars";

.post-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Nunito', Roboto, Arial, sans-serif;
        padding: 0;
    }

    h1 {
        font-size:     32px;
        margin-bottom: 24px;
    }

    h2 {
        font-size:     26px;
        margin-bottom: 18px;
    }

    h3 {
        font-size:     20px;
        margin-bottom: 14px;
    }

    h4 {
        font-size:      16px;
        margin-bottom:  10px;
        text-transform: uppercase;
    }

    h5 {
        font-size:       14px;
        margin-bottom:   8px;
        text-transform:  uppercase;
        text-decoration: underline;
    }

    h6 {
        font-size:     12px;
        margin-bottom: 6px;
        color:         #999;
        font-style:    italic;
    }

    p {
        margin-bottom: 8px;
    }

    p, li {
        color:     #333;
        font-size: 14px;

        b {
            color: #000;
        }
    }

    a {
        color:      #555;
        transition: color 300ms;

        &:hover {
            color: $primary;
        }
    }

    img {
        max-width:     100%;
        margin-top:    14px;
        margin-bottom: 14px;
        border-radius: 5px;
        box-shadow:    0 0 20px transparentize(#000, .9);
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
            line-height:     20px;
            padding:         0 20px;
            position:        relative;

            &:before {
                $size: 6px;
                content:          '';
                display:          block;
                position:         absolute;
                top:              50%;
                left:             $size / 2;
                background-color: #777;
                transform:        translate(0, -50%);
                border-radius:    $size / 2;
                width:            $size;
                height:           $size;
            }
        }
    }

    pre, blockquote {
        display: block;
        padding: 12px;
        margin:  8px 0;
    }

    pre {
        border:           1px solid #dedede;
        background-color: #f0f0f0;
        border-radius:    4px;
        tab-size:         30px;
    }

    table {
        margin-top: 20px;
    }

    hr {
        margin:       20px 0;
        border-color: #eee;
        border-style: solid;
        border-width: 0 0 1px 0;
    }

    .blockquote {
        margin-bottom: 44px;
    }

    .blockquote-caption {
        font-style:    italic;
        font-size:     12px;
        color:         #999;

        display:       inline-flex;
        align-items:   center;
        align-content: center;

        position:      absolute;
        left:          8px;
        bottom:        -8px;
        transform:     translate(0, 100%);
        margin:        0;

        &:before, &:after {
            content:      '--';
            display:      inline-block;
            margin-left:  4px;
            margin-right: 4px;
        }
    }

    u {
        text-decoration: underline;
    }

    mark {
        background-color: transparentize($primary, .8);
        padding-left: 3px;
        padding-right: 3px;
    }

    blockquote {
        background-color: #fafafa;
        color:            #999;
        border-left:      5px solid #999;
        margin-top:       20px;

        p {
            margin-bottom: 4px;
        }
    }

    .toolbar {
        background-color: #eee;
        p {
            padding: 14px 20px 14px 0;
            margin: 0;
            opacity: 0.6;
            font-size: 12px;
        }
    }
}
