@import "utils";
@import "button";
@import "layout";
@import "list";
@import "box";
@import "dialog";
@import "form";
@import "table";
@import "content";

.form {
    &__group {
    }

    &__field {
    }
}

.awesome-form {
    display: flex;

    .text {
        flex-direction: column;

        .title {
            font-size: 32px;
            color:     $primary;
        }

        .description {
            font-size: 18px;
            color:     #999;
        }
    }
}
