.dialog {
    z-index:  200;
    position: fixed;

    &, &__backdrop {
        top:    0;
        bottom: 0;
        right:  0;
        left:   0;
        width:  100%;
        height: 100%;
    }

    &__backdrop {
        position:         absolute;
        z-index:          1;
        background-color: transparentize(#222, .8);
    }

    &__close {
        background-color: transparent;
        box-shadow:       none;
        position:         absolute;
        top:              0;
        right:            0;
        transform:        translate(100%, -100%);
        margin:           0 !important;

        &, * {
            color: #fff;
        }
    }

    &__box {
        z-index:          3;
        background-color: #fff;
        display:          inline-block !important;
        position:         absolute;
        top:              80px;
        left:             50%;
        transform:        translate(-50%, 0);
        width:            auto !important;
        max-width:        600px;
        margin:           0;
        padding:          0;
    }
}
