.page__footer {
    padding:    0;

    .half {
        display:         inline-flex;
        flex:            1 1 50%;
        align-content:   center;
        align-items:     center;
        justify-content: flex-start;

        &.x-end {
            justify-content: flex-end;
        }

        p, a {
            font-family: 'Nunito', Roboto, Helvetica, Arial, sans-serif;
            font-size:   14px;
        }

        a {
            display:         inline-block;
            color:           #fff;
            margin-right:    14px;
            text-decoration: none;
            font-weight:     500;
            opacity:         .8;

            &:hover {
                opacity: 1;
            }
        }

        p {
            color:          #fff;
            font-weight:    500;
            letter-spacing: 1px;
        }
    }
}
