@import "vars";
@import "shadow";

.form {
    &__group {
        display:        flex;
        width:          100%;
        flex-direction: column;
        margin-bottom:  14px;

        label {
            margin-bottom: 4px;
            color:         #666;
        }
    }

    &__field, &_group {
        &, label {
            font-family: 'Nunito', Roboto, sans-serif;
        }
    }

    &__field {
        width:         100%;
        border:        none;
        border-radius: 4px;
        padding:       0 8px;
        font-size:     14px;
        height:        34px;
        line-height:   34px;
        outline:       none;

        @include shadow(3);
    }
}
