.short-about {
    background: #009688;
    padding:    60px 0;
    margin:     60px 0 0 0;

    &:after {
        content:          "";
        display:          block;
        width:            60%;
        margin-left:      -10%;
        background-color: #fff;
        position:         absolute;
        z-index:          1;
        height:           100%;
        top:              0;
        transform:        skewX(-40deg);
    }

    .container {
        position:        relative;
        z-index:         3;
        display:         flex;
        align-content:   center;
        align-items:     center;
        justify-content: center;

        .half {
            display:         inline-flex;
            flex-direction:  column;
            flex:            1 1 50%;
            align-content:   center;
            align-items:     center;
            justify-content: center;
            padding:         0 20px;

            h4 {
                font-size:     18px;
                color:         #333;
                margin-bottom: 12px;

                &.white {
                    color: #fff;
                }
            }

            p {
                font-size: 12px;
                padding:   0 20px;
                color:     #222;
                opacity:   .6;

                &.white {
                    opacity: .9;

                    &, a {
                        color:           #fff;
                        text-decoration: none;
                    }

                    a {
                        font-weight: 600;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.subscribe {
    background-color: #009688;
    padding:          60px 0;

    .container {
        display:         flex;
        align-content:   center;
        align-items:     center;
        justify-content: center;
    }

    .field-group {
        display: inline-block;

        label {
            display:        block;
            width:          100%;
            color:          #fff;
            margin-bottom:  6px;
            opacity:        0.7;
            margin-left:    6px;
            font-size:      14px;
            font-weight:    600;
            letter-spacing: 1px;
        }

        button, input {
            height:           30px;
            line-height:      30px;
            border-radius:    15px;
            padding:          0 15px;
            border:           none;
            background-color: transparentize(#fff, .8);
            color:            #fff;
            will-change:      background-color;
            transition:       background-color 200ms;;
        }

        input {
            width:         360px;
            padding-right: 90px;
            z-index:       2;
            outline:       none !important;

            box-shadow:    0 0 30px transparentize(#000, .9);

            &:focus {
                background-color: transparentize(#fff, .6);
            }
        }

        button {
            z-index:        4;
            width:          84px;
            text-transform: uppercase;
            font-weight:    600;
            letter-spacing: 1px;
            font-family:    'Nunito', Roboto, Helvetica, Arial, sans-serif;
            position:       absolute;
            top:            0;
            right:          0;
            bottom:         0;
            cursor:         pointer;

            &:hover {
                background-color: transparentize(#fff, .6);
            }
        }
    }
}

$size: 640px;
.summary {
    z-index:          1;
    padding-top:      64px;
    background-color: #009688;
    color:            #fff;
    padding-bottom:   $size / 2;
    margin-bottom:    ($size / 2);

    .bg {
        z-index:               1;
        position:              absolute;
        top:                   0;
        right:                 0;
        bottom:                0;
        left:                  0;
        width:                 100%;
        height:                100%;
        opacity:               .1;
        background:            transparent url(https://www.rcem.ac.uk/images/RCEM/RCEM_2017_low_res-94.jpg) center center no-repeat;
        background-size:       cover;
        background-attachment: fixed;
    }

    .container {
        z-index:  3;
        position: relative;
    }

    header {
        width:          100%;
        text-align:     center;
        padding:        100px 8px;
        letter-spacing: 1px;

        h1 {
            text-transform: uppercase;
            margin-bottom:  2px;
            font-size:      32px;
        }

        h3 {
            opacity: .5;
        }
    }

    main.video {
        width:            100%;
        height:           $size;
        position:         absolute;
        bottom:           $size * -1;
        left:             0;
        right:            0;
        border-radius:    5px;
        overflow:         hidden;
        box-shadow:       0 0 30px transparentize(#000, .7);
        background-color: #fff;

        iframe {
            display:  block;
            position: absolute;
            top:      0;
            bottom:   0;
            right:    0;
            left:     0;
            width:    100%;
            height:   100%;
        }
    }
}

.visit {
    padding:  60px 0;
    overflow: hidden;

    &:after {
        content:               '';
        display:               block;
        z-index:               1;
        position:              absolute;
        top:                   -5%;
        right:                 0;
        bottom:                0;
        left:                  -5%;
        width:                 110%;
        height:                110%;
        opacity:               0.1;
        filter:                blur(5px);
        background:            transparent url(https://t-ec.bstatic.com/images/hotel/max1024x768/125/125150305.jpg) center center no-repeat;
        background-size:       cover;
        background-attachment: fixed;
    }

    .box {
        z-index:          3;
        width:            60%;
        margin-left:      20%;
        position:         relative;
        overflow:         hidden;
        border-radius:    5px;
        box-shadow:       0 0 30px transparentize(#000, .8);
        background-color: #fff;

        img {
            width:         100%;
            height:        auto;
            object-fit:    cover;
            border-radius: 5px;
            overflow:      hidden;
        }

        .info {
            padding: 18px 20px;

            h3 {
                color:         #555;
                margin-bottom: 4px;
            }

            p {
                font-size:     14px;
                color:         #888;
                margin-bottom: 14px;
            }

            .actions {
                display:         flex;
                align-content:   center;
                align-items:     center;
                justify-content: flex-end;

                a {
                    display:         inline-block;
                    margin-left:     14px;
                    line-height:     26px;
                    height:          28px;
                    padding:         0 15px;
                    border-radius:   15px;
                    border:          1px solid #222;
                    color:           #222;
                    text-decoration: none;
                    text-transform:  uppercase;
                    font-weight:     600;
                    will-change:     background-color, color;
                    transition:      background-color 200ms, color 200ms;

                    &:hover {
                        color:            #fff;
                        background-color: #222;
                    }
                }
            }
        }
    }
}
