.container {
    max-width: 1200px;
    width:     100%;
    margin:    0 auto;
    padding:   14px;
}

.row {
    display:        flex;
    flex-direction: row;
    flex-wrap:      wrap;
    margin:         0 -14px;
    align-items:    flex-start;
    align-content:  flex-start;

    & > * {
        display: inline-flex;
    }
}
