@import "vars";

.list {
    padding: 8px 0;

    .list-item {
        padding:          8px 20px;
        display:          inline-block;
        width:            100%;
        margin:           0;
        font-size:        16px;
        font-weight:      600;
        color:            #666;
        background-color: transparent;
        transition:       color 300ms, background-color 300ms;

        &:hover, &.active {
            color:            #222;
            background-color: transparentize(#222, .9);
        }

        &.active {
            color: $primary;
        }
    }
}
