@import "shadow";

#menu {
    .brand {
        font-size:      22px;
        font-weight:    600;
        text-transform: uppercase;
    }
}

.page {
    &__header {
        width:            100%;
        background-color: #fff;
        padding-right:    8px;
        padding-top:      8px;
        padding-bottom:   8px;
        position:         relative;
        display:          flex;
        align-items:      center;
        align-content:    center;
        justify-content:  flex-start;
        @include shadow(3);
    }

    &__main {
        min-height: calc(100vh - 94px);
    }

    &__footer {
        background-color: #040d19;
        color:            #fff;
    }
}
