@import "vars";

.posts {
    .post {
        text-decoration: none;
        h3 {
            color: $primary;
            font-size: 24px;
            margin-bottom: 8px;
        }
        
        p {
            font-size: 12px;
            font-style: italic;
        }
    }
}
