@mixin shadow($level: 1) {
    $shadow: none;
    @if ($level == 0) {
        $shadow: 0 0 0 transparentize(#000, 1);
    } @else if ($level == 1) {
        $shadow: 0 0 5px transparentize(#000, .8);
    } @else if ($level == 2) {
        $shadow: 0 0 10px transparentize(#000, .8);
    } @else if ($level == 3) {
        $shadow: 0 0 15px transparentize(#000, .8);
    } @else if ($level == 4) {
        $shadow: 0 0 20px transparentize(#000, .9);
    }

    box-shadow: #{$shadow};
}
