@import "shadow";

table {
    width:            100%;
    border-radius:    5px;
    background-color: #fff;
    border-spacing:   0;
    border:           none;
    @include shadow(3);

    tr {
        th, td {
            text-align: left;
            padding:    6px 8px;

            &.r, &.right {
                text-align: right;
            }

            &.c, &.center {
                text-align: center;
            }
        }
    }

    thead {
        tr {
            background-color: #f0f0f0;

            th {
                padding-top:    14px;
                padding-bottom: 14px;
            }
        }
    }

    tbody {
        tr {
            background-color: #fff;

            &:nth-child(2n) {
                background-color: #fafafa;
            }
        }
    }

}
