@import "vars";

@each $prop in (none, block, inline-block, inline-flex, flex) {
    .d-#{$prop} {
        display: #{$prop} !important;
    }
}

@each $prop in (flex-start, center, flex-end) {
    .v-#{$prop} {
        align-content: #{$prop} !important;
        align-items:   #{$prop} !important;
    }

    .h-#{$prop} {
        justify-content: #{$prop} !important;
    }
}

@each $prop in (column, row) {
    .fd-#{$prop} {
        flex-direction: #{$prop} !important;
    }
}

@each $prop in (left, center, right) {
    .t-#{$prop} {
        text-align: #{$prop} !important;
    }
}

@each $prop in (0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100) {
    .f-#{$prop} {
        flex:      0 0 #{$prop * 1%} !important;
        max-width: #{$prop * 1%};
    }
}

.f-33 {
    flex:      0 0 33.33% !important;
    max-width: 33.33%;
}

.f-66 {
    flex:      0 0 66.66% !important;
    max-width: 66.66%;
}

@each $prop in (0, 2, 3, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 25, 28, 30, 40, 50, 60, 70, 80) {
    .p-#{$prop}, .pl-#{$prop}, .px-#{$prop} {
        padding-left: #{$prop * 1px} !important;
    }
    .p-#{$prop}, .pr-#{$prop}, .px-#{$prop} {
        padding-right: #{$prop * 1px} !important;
    }
    .p-#{$prop}, .pt-#{$prop}, .py-#{$prop} {
        padding-top: #{$prop * 1px} !important;
    }
    .p-#{$prop}, .pb-#{$prop}, .py-#{$prop} {
        padding-bottom: #{$prop * 1px} !important;
    }

    .m-#{$prop}, .ml-#{$prop}, .mx-#{$prop} {
        margin-left: #{$prop * 1px} !important;
    }
    .m-#{$prop}, .mr-#{$prop}, .mx-#{$prop} {
        margin-right: #{$prop * 1px} !important;
    }
    .m-#{$prop}, .mt-#{$prop}, .my-#{$prop} {
        margin-top: #{$prop * 1px} !important;
    }
    .m-#{$prop}, .mb-#{$prop}, .my-#{$prop} {
        margin-bottom: #{$prop * 1px} !important;
    }
}

.f-wrap {
    flex-wrap: wrap !important;
}

.f-nowrap {
    flex-wrap: nowrap !important;
}

.divider {
    margin:       8px 0;
    border-color: #dedede;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.c {
    &-error {
        color: #f35d4b !important;
    }

    &-secondary {
        color: #aaa !important;
    }

    &-dark {
        color: #444 !important;
    }

    &-primary {
        color: $primary !important;
    }

    &-white {
        color: #fff !important;
    }
}


.b {
    &-error {
        background: #f35d4b !important;
    }

    &-secondary {
        background: #aaa !important;
    }

    &-dark {
        background: #444 !important;
    }

    &-primary {
        background: $primary !important;
    }

    &-white {
        background: #fff !important;
    }
}
