.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-flex {
  display: flex !important;
}

.v-flex-start {
  align-content: flex-start !important;
  align-items: flex-start !important;
}

.h-flex-start {
  justify-content: flex-start !important;
}

.v-center {
  align-content: center !important;
  align-items: center !important;
}

.h-center {
  justify-content: center !important;
}

.v-flex-end {
  align-content: flex-end !important;
  align-items: flex-end !important;
}

.h-flex-end {
  justify-content: flex-end !important;
}

.fd-column {
  flex-direction: column !important;
}

.fd-row {
  flex-direction: row !important;
}

.t-left {
  text-align: left !important;
}

.t-center {
  text-align: center !important;
}

.t-right {
  text-align: right !important;
}

.f-0 {
  flex: 0 0 0% !important;
  max-width: 0%;
}

.f-5 {
  flex: 0 0 5% !important;
  max-width: 5%;
}

.f-10 {
  flex: 0 0 10% !important;
  max-width: 10%;
}

.f-15 {
  flex: 0 0 15% !important;
  max-width: 15%;
}

.f-20 {
  flex: 0 0 20% !important;
  max-width: 20%;
}

.f-25 {
  flex: 0 0 25% !important;
  max-width: 25%;
}

.f-30 {
  flex: 0 0 30% !important;
  max-width: 30%;
}

.f-35 {
  flex: 0 0 35% !important;
  max-width: 35%;
}

.f-40 {
  flex: 0 0 40% !important;
  max-width: 40%;
}

.f-45 {
  flex: 0 0 45% !important;
  max-width: 45%;
}

.f-50 {
  flex: 0 0 50% !important;
  max-width: 50%;
}

.f-55 {
  flex: 0 0 55% !important;
  max-width: 55%;
}

.f-60 {
  flex: 0 0 60% !important;
  max-width: 60%;
}

.f-65 {
  flex: 0 0 65% !important;
  max-width: 65%;
}

.f-70 {
  flex: 0 0 70% !important;
  max-width: 70%;
}

.f-75 {
  flex: 0 0 75% !important;
  max-width: 75%;
}

.f-80 {
  flex: 0 0 80% !important;
  max-width: 80%;
}

.f-85 {
  flex: 0 0 85% !important;
  max-width: 85%;
}

.f-90 {
  flex: 0 0 90% !important;
  max-width: 90%;
}

.f-95 {
  flex: 0 0 95% !important;
  max-width: 95%;
}

.f-100 {
  flex: 0 0 100% !important;
  max-width: 100%;
}

.f-33 {
  flex: 0 0 33.33% !important;
  max-width: 33.33%;
}

.f-66 {
  flex: 0 0 66.66% !important;
  max-width: 66.66%;
}

.p-0,
.pl-0,
.px-0 {
  padding-left: 0px !important;
}

.p-0,
.pr-0,
.px-0 {
  padding-right: 0px !important;
}

.p-0,
.pt-0,
.py-0 {
  padding-top: 0px !important;
}

.p-0,
.pb-0,
.py-0 {
  padding-bottom: 0px !important;
}

.m-0,
.ml-0,
.mx-0 {
  margin-left: 0px !important;
}

.m-0,
.mr-0,
.mx-0 {
  margin-right: 0px !important;
}

.m-0,
.mt-0,
.my-0 {
  margin-top: 0px !important;
}

.m-0,
.mb-0,
.my-0 {
  margin-bottom: 0px !important;
}

.p-2,
.pl-2,
.px-2 {
  padding-left: 2px !important;
}

.p-2,
.pr-2,
.px-2 {
  padding-right: 2px !important;
}

.p-2,
.pt-2,
.py-2 {
  padding-top: 2px !important;
}

.p-2,
.pb-2,
.py-2 {
  padding-bottom: 2px !important;
}

.m-2,
.ml-2,
.mx-2 {
  margin-left: 2px !important;
}

.m-2,
.mr-2,
.mx-2 {
  margin-right: 2px !important;
}

.m-2,
.mt-2,
.my-2 {
  margin-top: 2px !important;
}

.m-2,
.mb-2,
.my-2 {
  margin-bottom: 2px !important;
}

.p-3,
.pl-3,
.px-3 {
  padding-left: 3px !important;
}

.p-3,
.pr-3,
.px-3 {
  padding-right: 3px !important;
}

.p-3,
.pt-3,
.py-3 {
  padding-top: 3px !important;
}

.p-3,
.pb-3,
.py-3 {
  padding-bottom: 3px !important;
}

.m-3,
.ml-3,
.mx-3 {
  margin-left: 3px !important;
}

.m-3,
.mr-3,
.mx-3 {
  margin-right: 3px !important;
}

.m-3,
.mt-3,
.my-3 {
  margin-top: 3px !important;
}

.m-3,
.mb-3,
.my-3 {
  margin-bottom: 3px !important;
}

.p-4,
.pl-4,
.px-4 {
  padding-left: 4px !important;
}

.p-4,
.pr-4,
.px-4 {
  padding-right: 4px !important;
}

.p-4,
.pt-4,
.py-4 {
  padding-top: 4px !important;
}

.p-4,
.pb-4,
.py-4 {
  padding-bottom: 4px !important;
}

.m-4,
.ml-4,
.mx-4 {
  margin-left: 4px !important;
}

.m-4,
.mr-4,
.mx-4 {
  margin-right: 4px !important;
}

.m-4,
.mt-4,
.my-4 {
  margin-top: 4px !important;
}

.m-4,
.mb-4,
.my-4 {
  margin-bottom: 4px !important;
}

.p-5,
.pl-5,
.px-5 {
  padding-left: 5px !important;
}

.p-5,
.pr-5,
.px-5 {
  padding-right: 5px !important;
}

.p-5,
.pt-5,
.py-5 {
  padding-top: 5px !important;
}

.p-5,
.pb-5,
.py-5 {
  padding-bottom: 5px !important;
}

.m-5,
.ml-5,
.mx-5 {
  margin-left: 5px !important;
}

.m-5,
.mr-5,
.mx-5 {
  margin-right: 5px !important;
}

.m-5,
.mt-5,
.my-5 {
  margin-top: 5px !important;
}

.m-5,
.mb-5,
.my-5 {
  margin-bottom: 5px !important;
}

.p-6,
.pl-6,
.px-6 {
  padding-left: 6px !important;
}

.p-6,
.pr-6,
.px-6 {
  padding-right: 6px !important;
}

.p-6,
.pt-6,
.py-6 {
  padding-top: 6px !important;
}

.p-6,
.pb-6,
.py-6 {
  padding-bottom: 6px !important;
}

.m-6,
.ml-6,
.mx-6 {
  margin-left: 6px !important;
}

.m-6,
.mr-6,
.mx-6 {
  margin-right: 6px !important;
}

.m-6,
.mt-6,
.my-6 {
  margin-top: 6px !important;
}

.m-6,
.mb-6,
.my-6 {
  margin-bottom: 6px !important;
}

.p-8,
.pl-8,
.px-8 {
  padding-left: 8px !important;
}

.p-8,
.pr-8,
.px-8 {
  padding-right: 8px !important;
}

.p-8,
.pt-8,
.py-8 {
  padding-top: 8px !important;
}

.p-8,
.pb-8,
.py-8 {
  padding-bottom: 8px !important;
}

.m-8,
.ml-8,
.mx-8 {
  margin-left: 8px !important;
}

.m-8,
.mr-8,
.mx-8 {
  margin-right: 8px !important;
}

.m-8,
.mt-8,
.my-8 {
  margin-top: 8px !important;
}

.m-8,
.mb-8,
.my-8 {
  margin-bottom: 8px !important;
}

.p-10,
.pl-10,
.px-10 {
  padding-left: 10px !important;
}

.p-10,
.pr-10,
.px-10 {
  padding-right: 10px !important;
}

.p-10,
.pt-10,
.py-10 {
  padding-top: 10px !important;
}

.p-10,
.pb-10,
.py-10 {
  padding-bottom: 10px !important;
}

.m-10,
.ml-10,
.mx-10 {
  margin-left: 10px !important;
}

.m-10,
.mr-10,
.mx-10 {
  margin-right: 10px !important;
}

.m-10,
.mt-10,
.my-10 {
  margin-top: 10px !important;
}

.m-10,
.mb-10,
.my-10 {
  margin-bottom: 10px !important;
}

.p-12,
.pl-12,
.px-12 {
  padding-left: 12px !important;
}

.p-12,
.pr-12,
.px-12 {
  padding-right: 12px !important;
}

.p-12,
.pt-12,
.py-12 {
  padding-top: 12px !important;
}

.p-12,
.pb-12,
.py-12 {
  padding-bottom: 12px !important;
}

.m-12,
.ml-12,
.mx-12 {
  margin-left: 12px !important;
}

.m-12,
.mr-12,
.mx-12 {
  margin-right: 12px !important;
}

.m-12,
.mt-12,
.my-12 {
  margin-top: 12px !important;
}

.m-12,
.mb-12,
.my-12 {
  margin-bottom: 12px !important;
}

.p-14,
.pl-14,
.px-14 {
  padding-left: 14px !important;
}

.p-14,
.pr-14,
.px-14 {
  padding-right: 14px !important;
}

.p-14,
.pt-14,
.py-14 {
  padding-top: 14px !important;
}

.p-14,
.pb-14,
.py-14 {
  padding-bottom: 14px !important;
}

.m-14,
.ml-14,
.mx-14 {
  margin-left: 14px !important;
}

.m-14,
.mr-14,
.mx-14 {
  margin-right: 14px !important;
}

.m-14,
.mt-14,
.my-14 {
  margin-top: 14px !important;
}

.m-14,
.mb-14,
.my-14 {
  margin-bottom: 14px !important;
}

.p-15,
.pl-15,
.px-15 {
  padding-left: 15px !important;
}

.p-15,
.pr-15,
.px-15 {
  padding-right: 15px !important;
}

.p-15,
.pt-15,
.py-15 {
  padding-top: 15px !important;
}

.p-15,
.pb-15,
.py-15 {
  padding-bottom: 15px !important;
}

.m-15,
.ml-15,
.mx-15 {
  margin-left: 15px !important;
}

.m-15,
.mr-15,
.mx-15 {
  margin-right: 15px !important;
}

.m-15,
.mt-15,
.my-15 {
  margin-top: 15px !important;
}

.m-15,
.mb-15,
.my-15 {
  margin-bottom: 15px !important;
}

.p-16,
.pl-16,
.px-16 {
  padding-left: 16px !important;
}

.p-16,
.pr-16,
.px-16 {
  padding-right: 16px !important;
}

.p-16,
.pt-16,
.py-16 {
  padding-top: 16px !important;
}

.p-16,
.pb-16,
.py-16 {
  padding-bottom: 16px !important;
}

.m-16,
.ml-16,
.mx-16 {
  margin-left: 16px !important;
}

.m-16,
.mr-16,
.mx-16 {
  margin-right: 16px !important;
}

.m-16,
.mt-16,
.my-16 {
  margin-top: 16px !important;
}

.m-16,
.mb-16,
.my-16 {
  margin-bottom: 16px !important;
}

.p-18,
.pl-18,
.px-18 {
  padding-left: 18px !important;
}

.p-18,
.pr-18,
.px-18 {
  padding-right: 18px !important;
}

.p-18,
.pt-18,
.py-18 {
  padding-top: 18px !important;
}

.p-18,
.pb-18,
.py-18 {
  padding-bottom: 18px !important;
}

.m-18,
.ml-18,
.mx-18 {
  margin-left: 18px !important;
}

.m-18,
.mr-18,
.mx-18 {
  margin-right: 18px !important;
}

.m-18,
.mt-18,
.my-18 {
  margin-top: 18px !important;
}

.m-18,
.mb-18,
.my-18 {
  margin-bottom: 18px !important;
}

.p-20,
.pl-20,
.px-20 {
  padding-left: 20px !important;
}

.p-20,
.pr-20,
.px-20 {
  padding-right: 20px !important;
}

.p-20,
.pt-20,
.py-20 {
  padding-top: 20px !important;
}

.p-20,
.pb-20,
.py-20 {
  padding-bottom: 20px !important;
}

.m-20,
.ml-20,
.mx-20 {
  margin-left: 20px !important;
}

.m-20,
.mr-20,
.mx-20 {
  margin-right: 20px !important;
}

.m-20,
.mt-20,
.my-20 {
  margin-top: 20px !important;
}

.m-20,
.mb-20,
.my-20 {
  margin-bottom: 20px !important;
}

.p-22,
.pl-22,
.px-22 {
  padding-left: 22px !important;
}

.p-22,
.pr-22,
.px-22 {
  padding-right: 22px !important;
}

.p-22,
.pt-22,
.py-22 {
  padding-top: 22px !important;
}

.p-22,
.pb-22,
.py-22 {
  padding-bottom: 22px !important;
}

.m-22,
.ml-22,
.mx-22 {
  margin-left: 22px !important;
}

.m-22,
.mr-22,
.mx-22 {
  margin-right: 22px !important;
}

.m-22,
.mt-22,
.my-22 {
  margin-top: 22px !important;
}

.m-22,
.mb-22,
.my-22 {
  margin-bottom: 22px !important;
}

.p-24,
.pl-24,
.px-24 {
  padding-left: 24px !important;
}

.p-24,
.pr-24,
.px-24 {
  padding-right: 24px !important;
}

.p-24,
.pt-24,
.py-24 {
  padding-top: 24px !important;
}

.p-24,
.pb-24,
.py-24 {
  padding-bottom: 24px !important;
}

.m-24,
.ml-24,
.mx-24 {
  margin-left: 24px !important;
}

.m-24,
.mr-24,
.mx-24 {
  margin-right: 24px !important;
}

.m-24,
.mt-24,
.my-24 {
  margin-top: 24px !important;
}

.m-24,
.mb-24,
.my-24 {
  margin-bottom: 24px !important;
}

.p-25,
.pl-25,
.px-25 {
  padding-left: 25px !important;
}

.p-25,
.pr-25,
.px-25 {
  padding-right: 25px !important;
}

.p-25,
.pt-25,
.py-25 {
  padding-top: 25px !important;
}

.p-25,
.pb-25,
.py-25 {
  padding-bottom: 25px !important;
}

.m-25,
.ml-25,
.mx-25 {
  margin-left: 25px !important;
}

.m-25,
.mr-25,
.mx-25 {
  margin-right: 25px !important;
}

.m-25,
.mt-25,
.my-25 {
  margin-top: 25px !important;
}

.m-25,
.mb-25,
.my-25 {
  margin-bottom: 25px !important;
}

.p-25,
.pl-25,
.px-25 {
  padding-left: 25px !important;
}

.p-25,
.pr-25,
.px-25 {
  padding-right: 25px !important;
}

.p-25,
.pt-25,
.py-25 {
  padding-top: 25px !important;
}

.p-25,
.pb-25,
.py-25 {
  padding-bottom: 25px !important;
}

.m-25,
.ml-25,
.mx-25 {
  margin-left: 25px !important;
}

.m-25,
.mr-25,
.mx-25 {
  margin-right: 25px !important;
}

.m-25,
.mt-25,
.my-25 {
  margin-top: 25px !important;
}

.m-25,
.mb-25,
.my-25 {
  margin-bottom: 25px !important;
}

.p-28,
.pl-28,
.px-28 {
  padding-left: 28px !important;
}

.p-28,
.pr-28,
.px-28 {
  padding-right: 28px !important;
}

.p-28,
.pt-28,
.py-28 {
  padding-top: 28px !important;
}

.p-28,
.pb-28,
.py-28 {
  padding-bottom: 28px !important;
}

.m-28,
.ml-28,
.mx-28 {
  margin-left: 28px !important;
}

.m-28,
.mr-28,
.mx-28 {
  margin-right: 28px !important;
}

.m-28,
.mt-28,
.my-28 {
  margin-top: 28px !important;
}

.m-28,
.mb-28,
.my-28 {
  margin-bottom: 28px !important;
}

.p-30,
.pl-30,
.px-30 {
  padding-left: 30px !important;
}

.p-30,
.pr-30,
.px-30 {
  padding-right: 30px !important;
}

.p-30,
.pt-30,
.py-30 {
  padding-top: 30px !important;
}

.p-30,
.pb-30,
.py-30 {
  padding-bottom: 30px !important;
}

.m-30,
.ml-30,
.mx-30 {
  margin-left: 30px !important;
}

.m-30,
.mr-30,
.mx-30 {
  margin-right: 30px !important;
}

.m-30,
.mt-30,
.my-30 {
  margin-top: 30px !important;
}

.m-30,
.mb-30,
.my-30 {
  margin-bottom: 30px !important;
}

.p-40,
.pl-40,
.px-40 {
  padding-left: 40px !important;
}

.p-40,
.pr-40,
.px-40 {
  padding-right: 40px !important;
}

.p-40,
.pt-40,
.py-40 {
  padding-top: 40px !important;
}

.p-40,
.pb-40,
.py-40 {
  padding-bottom: 40px !important;
}

.m-40,
.ml-40,
.mx-40 {
  margin-left: 40px !important;
}

.m-40,
.mr-40,
.mx-40 {
  margin-right: 40px !important;
}

.m-40,
.mt-40,
.my-40 {
  margin-top: 40px !important;
}

.m-40,
.mb-40,
.my-40 {
  margin-bottom: 40px !important;
}

.p-50,
.pl-50,
.px-50 {
  padding-left: 50px !important;
}

.p-50,
.pr-50,
.px-50 {
  padding-right: 50px !important;
}

.p-50,
.pt-50,
.py-50 {
  padding-top: 50px !important;
}

.p-50,
.pb-50,
.py-50 {
  padding-bottom: 50px !important;
}

.m-50,
.ml-50,
.mx-50 {
  margin-left: 50px !important;
}

.m-50,
.mr-50,
.mx-50 {
  margin-right: 50px !important;
}

.m-50,
.mt-50,
.my-50 {
  margin-top: 50px !important;
}

.m-50,
.mb-50,
.my-50 {
  margin-bottom: 50px !important;
}

.p-60,
.pl-60,
.px-60 {
  padding-left: 60px !important;
}

.p-60,
.pr-60,
.px-60 {
  padding-right: 60px !important;
}

.p-60,
.pt-60,
.py-60 {
  padding-top: 60px !important;
}

.p-60,
.pb-60,
.py-60 {
  padding-bottom: 60px !important;
}

.m-60,
.ml-60,
.mx-60 {
  margin-left: 60px !important;
}

.m-60,
.mr-60,
.mx-60 {
  margin-right: 60px !important;
}

.m-60,
.mt-60,
.my-60 {
  margin-top: 60px !important;
}

.m-60,
.mb-60,
.my-60 {
  margin-bottom: 60px !important;
}

.p-70,
.pl-70,
.px-70 {
  padding-left: 70px !important;
}

.p-70,
.pr-70,
.px-70 {
  padding-right: 70px !important;
}

.p-70,
.pt-70,
.py-70 {
  padding-top: 70px !important;
}

.p-70,
.pb-70,
.py-70 {
  padding-bottom: 70px !important;
}

.m-70,
.ml-70,
.mx-70 {
  margin-left: 70px !important;
}

.m-70,
.mr-70,
.mx-70 {
  margin-right: 70px !important;
}

.m-70,
.mt-70,
.my-70 {
  margin-top: 70px !important;
}

.m-70,
.mb-70,
.my-70 {
  margin-bottom: 70px !important;
}

.p-80,
.pl-80,
.px-80 {
  padding-left: 80px !important;
}

.p-80,
.pr-80,
.px-80 {
  padding-right: 80px !important;
}

.p-80,
.pt-80,
.py-80 {
  padding-top: 80px !important;
}

.p-80,
.pb-80,
.py-80 {
  padding-bottom: 80px !important;
}

.m-80,
.ml-80,
.mx-80 {
  margin-left: 80px !important;
}

.m-80,
.mr-80,
.mx-80 {
  margin-right: 80px !important;
}

.m-80,
.mt-80,
.my-80 {
  margin-top: 80px !important;
}

.m-80,
.mb-80,
.my-80 {
  margin-bottom: 80px !important;
}

.f-wrap {
  flex-wrap: wrap !important;
}

.f-nowrap {
  flex-wrap: nowrap !important;
}

.divider {
  margin: 8px 0;
  border-color: #dedede;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.c-error {
  color: #f35d4b !important;
}

.c-secondary {
  color: #aaa !important;
}

.c-dark {
  color: #444 !important;
}

.c-primary {
  color: #009688 !important;
}

.c-white {
  color: #fff !important;
}

.b-error {
  background: #f35d4b !important;
}

.b-secondary {
  background: #aaa !important;
}

.b-dark {
  background: #444 !important;
}

.b-primary {
  background: #009688 !important;
}

.b-white {
  background: #fff !important;
}

.button,
.button-link {
  text-decoration: none;
  margin: 6px;
  outline: none !important;
  color: #009688;
  transition: background-color 300ms, opacity 300ms, color 300ms;
  opacity: 1;
}

.button:not(.material-icons):not(.button--icon),
.button-link:not(.material-icons):not(.button--icon) {
  font-family: "Nunito", Roboto, Arial, sans-serif;
}

.button {
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 31px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  color: #009688;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: rgba(34, 34, 34, 0.05);
  opacity: 0.85;
}

.button:not(.material-icons):not(.button--icon) {
  text-transform: uppercase;
  font-weight: 600;
}

.button.material-icons,
.button.button--icon {
  padding-left: 0;
  padding-right: 0;
  height: 30px;
  line-height: 30px;
  width: 30px;
}

.button.button--icon {
  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.button-link:hover {
  opacity: 0.75;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 14px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -14px;
  align-items: flex-start;
  align-content: flex-start;
}

.row > * {
  display: inline-flex;
}

.list {
  padding: 8px 0;
}

.list .list-item {
  padding: 8px 20px;
  display: inline-block;
  width: 100%;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  background-color: transparent;
  transition: color 300ms, background-color 300ms;
}

.list .list-item:hover,
.list .list-item.active {
  color: #222;
  background-color: rgba(34, 34, 34, 0.1);
}

.list .list-item.active {
  color: #009688;
}

.awesome-box {
  display: block !important;
  padding: 28px;
}

.awesome-box,
.awesome-table {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.awesome-box h1,
.awesome-table h1 {
  font-size: 28px;
  font-weight: 600;
}

.awesome-box p,
.awesome-table p {
  font-size: 14px;
  font-weight: 600;
  color: #888;
}

.dialog {
  z-index: 200;
  position: fixed;
}

.dialog,
.dialog__backdrop {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dialog__backdrop {
  position: absolute;
  z-index: 1;
  background-color: rgba(34, 34, 34, 0.2);
}

.dialog__close {
  background-color: transparent;
  box-shadow: none;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(100%, -100%);
          transform: translate(100%, -100%);
  margin: 0 !important;
}

.dialog__close,
.dialog__close * {
  color: #fff;
}

.dialog__box {
  z-index: 3;
  background-color: #fff;
  display: inline-block !important;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: auto !important;
  max-width: 600px;
  margin: 0;
  padding: 0;
}

.form__group {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 14px;
}

.form__group label {
  margin-bottom: 4px;
  color: #666;
}

.form__field,
.form__field label,
.form_group,
.form_group label {
  font-family: "Nunito", Roboto, sans-serif;
}

.form__field {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  outline: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
  border-spacing: 0;
  border: none;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

table tr th,
table tr td {
  text-align: left;
  padding: 6px 8px;
}

table tr th.r,
table tr th.right,
table tr td.r,
table tr td.right {
  text-align: right;
}

table tr th.c,
table tr th.center,
table tr td.c,
table tr td.center {
  text-align: center;
}

table thead tr {
  background-color: #f0f0f0;
}

table thead tr th {
  padding-top: 14px;
  padding-bottom: 14px;
}

table tbody tr {
  background-color: #fff;
}

table tbody tr:nth-child(2n) {
  background-color: #fafafa;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-family: "Nunito", Roboto, Arial, sans-serif;
  padding: 0;
}

.post-content h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

.post-content h2 {
  font-size: 26px;
  margin-bottom: 18px;
}

.post-content h3 {
  font-size: 20px;
  margin-bottom: 14px;
}

.post-content h4 {
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.post-content h5 {
  font-size: 14px;
  margin-bottom: 8px;
  text-transform: uppercase;
  text-decoration: underline;
}

.post-content h6 {
  font-size: 12px;
  margin-bottom: 6px;
  color: #999;
  font-style: italic;
}

.post-content p {
  margin-bottom: 8px;
}

.post-content p,
.post-content li {
  color: #333;
  font-size: 14px;
}

.post-content p b,
.post-content li b {
  color: #000;
}

.post-content a {
  color: #555;
  transition: color 300ms;
}

.post-content a:hover {
  color: #009688;
}

.post-content img {
  max-width: 100%;
  margin-top: 14px;
  margin-bottom: 14px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.post-content ul {
  padding: 0;
}

.post-content ul li {
  list-style-type: none;
  line-height: 20px;
  padding: 0 20px;
  position: relative;
}

.post-content ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 3px;
  background-color: #777;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 3px;
  width: 6px;
  height: 6px;
}

.post-content pre,
.post-content blockquote {
  display: block;
  padding: 12px;
  margin: 8px 0;
}

.post-content pre {
  border: 1px solid #dedede;
  background-color: #f0f0f0;
  border-radius: 4px;
  -moz-tab-size: 30px;
    -o-tab-size: 30px;
       tab-size: 30px;
}

.post-content table {
  margin-top: 20px;
}

.post-content hr {
  margin: 20px 0;
  border-color: #eee;
  border-style: solid;
  border-width: 0 0 1px 0;
}

.post-content .blockquote {
  margin-bottom: 44px;
}

.post-content .blockquote-caption {
  font-style: italic;
  font-size: 12px;
  color: #999;
  display: inline-flex;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 8px;
  bottom: -8px;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  margin: 0;
}

.post-content .blockquote-caption:before,
.post-content .blockquote-caption:after {
  content: "--";
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}

.post-content u {
  text-decoration: underline;
}

.post-content mark {
  background-color: rgba(0, 150, 136, 0.2);
  padding-left: 3px;
  padding-right: 3px;
}

.post-content blockquote {
  background-color: #fafafa;
  color: #999;
  border-left: 5px solid #999;
  margin-top: 20px;
}

.post-content blockquote p {
  margin-bottom: 4px;
}

.post-content .toolbar {
  background-color: #eee;
}

.post-content .toolbar p {
  padding: 14px 20px 14px 0;
  margin: 0;
  opacity: 0.6;
  font-size: 12px;
}

.awesome-form {
  display: flex;
}

.awesome-form .text {
  flex-direction: column;
}

.awesome-form .text .title {
  font-size: 32px;
  color: #009688;
}

.awesome-form .text .description {
  font-size: 18px;
  color: #999;
}

#menu .brand {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.page__header {
  width: 100%;
  background-color: #fff;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.page__main {
  min-height: calc(100vh - 94px);
}

.page__footer {
  background-color: #040d19;
  color: #fff;
}

.posts .post {
  text-decoration: none;
}

.posts .post h3 {
  color: #009688;
  font-size: 24px;
  margin-bottom: 8px;
}

.posts .post p {
  font-size: 12px;
  font-style: italic;
}

.page__footer {
  padding: 0;
}

.page__footer .half {
  display: inline-flex;
  flex: 1 1 50%;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

.page__footer .half.x-end {
  justify-content: flex-end;
}

.page__footer .half p,
.page__footer .half a {
  font-family: "Nunito", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.page__footer .half a {
  display: inline-block;
  color: #fff;
  margin-right: 14px;
  text-decoration: none;
  font-weight: 500;
  opacity: 0.8;
}

.page__footer .half a:hover {
  opacity: 1;
}

.page__footer .half p {
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
}

.short-about {
  background: #009688;
  padding: 60px 0;
  margin: 60px 0 0 0;
}

.short-about:after {
  content: "";
  display: block;
  width: 60%;
  margin-left: -10%;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  -webkit-transform: skewX(-40deg);
          transform: skewX(-40deg);
}

.short-about .container {
  position: relative;
  z-index: 3;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.short-about .container .half {
  display: inline-flex;
  flex-direction: column;
  flex: 1 1 50%;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.short-about .container .half h4 {
  font-size: 18px;
  color: #333;
  margin-bottom: 12px;
}

.short-about .container .half h4.white {
  color: #fff;
}

.short-about .container .half p {
  font-size: 12px;
  padding: 0 20px;
  color: #222;
  opacity: 0.6;
}

.short-about .container .half p.white {
  opacity: 0.9;
}

.short-about .container .half p.white,
.short-about .container .half p.white a {
  color: #fff;
  text-decoration: none;
}

.short-about .container .half p.white a {
  font-weight: 600;
}

.short-about .container .half p.white a:hover {
  text-decoration: underline;
}

.subscribe {
  background-color: #009688;
  padding: 60px 0;
}

.subscribe .container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.subscribe .field-group {
  display: inline-block;
}

.subscribe .field-group label {
  display: block;
  width: 100%;
  color: #fff;
  margin-bottom: 6px;
  opacity: 0.7;
  margin-left: 6px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}

.subscribe .field-group button,
.subscribe .field-group input {
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  padding: 0 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  will-change: background-color;
  transition: background-color 200ms;
}

.subscribe .field-group input {
  width: 360px;
  padding-right: 90px;
  z-index: 2;
  outline: none !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.subscribe .field-group input:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.subscribe .field-group button {
  z-index: 4;
  width: 84px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Nunito", Roboto, Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}

.subscribe .field-group button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.summary {
  z-index: 1;
  padding-top: 64px;
  background-color: #009688;
  color: #fff;
  padding-bottom: 320px;
  margin-bottom: 320px;
}

.summary .bg {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background: transparent url(https://www.rcem.ac.uk/images/RCEM/RCEM_2017_low_res-94.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.summary .container {
  z-index: 3;
  position: relative;
}

.summary header {
  width: 100%;
  text-align: center;
  padding: 100px 8px;
  letter-spacing: 1px;
}

.summary header h1 {
  text-transform: uppercase;
  margin-bottom: 2px;
  font-size: 32px;
}

.summary header h3 {
  opacity: 0.5;
}

.summary main.video {
  width: 100%;
  height: 640px;
  position: absolute;
  bottom: -640px;
  left: 0;
  right: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.summary main.video iframe {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visit {
  padding: 60px 0;
  overflow: hidden;
}

.visit:after {
  content: "";
  display: block;
  z-index: 1;
  position: absolute;
  top: -5%;
  right: 0;
  bottom: 0;
  left: -5%;
  width: 110%;
  height: 110%;
  opacity: 0.1;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  background: transparent url(https://t-ec.bstatic.com/images/hotel/max1024x768/125/125150305.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.visit .box {
  z-index: 3;
  width: 60%;
  margin-left: 20%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.visit .box img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}

.visit .box .info {
  padding: 18px 20px;
}

.visit .box .info h3 {
  color: #555;
  margin-bottom: 4px;
}

.visit .box .info p {
  font-size: 14px;
  color: #888;
  margin-bottom: 14px;
}

.visit .box .info .actions {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.visit .box .info .actions a {
  display: inline-block;
  margin-left: 14px;
  line-height: 26px;
  height: 28px;
  padding: 0 15px;
  border-radius: 15px;
  border: 1px solid #222;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  will-change: background-color, color;
  transition: background-color 200ms, color 200ms;
}

.visit .box .info .actions a:hover {
  color: #fff;
  background-color: #222;
}

